* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-image: url(bgimage.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin: 30px;
    font-family:"Roboto";
    text-shadow: 5px 0 rgb(255, 255, 255);
    font-size: 4.5rem;
    color: rgb(240, 240, 255);
}

p {
    font-size: 2rem;
    color: aquamarine;
    font-family: "Indie Flower";
}

img {
    width: 100%; 
    height: auto; 
}

.bottom {
    padding-top: 30px;
}

.btn {
    background-color:rgb(87, 143, 143);
    font-family: 'Lucida Sans', sans-serif;
    border-radius: 7px;
    color: rgb(223, 234, 243);
    font-size: 30px;
    padding: 10px 25px 16px 25px;
    text-decoration: none;
    cursor: pointer; 
}

.btn:hover {
    background: rgb(164, 164, 184);
    text-decoration: none;
    color: white;
}
